{% extends 'base.html.twig' %}


{% block menu %} 
{% endblock menu %}
{% block nav %}
    {% block gestionnaire %}{% endblock  %}
    {% block client %}{{ parent() }}{% endblock %}
    {% block logout %}{{ parent() }}{% endblock %}
    {% endblock nav %}

    {% block body %}
      


{% block table %}
<div class="content1">
        <table>
            <tr>
              <th>Numero commande</th>
              <th>La commande</th>
              <th>Points</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
            <tr>
              <td>Adam</td>
              <td>Johnson</td>
              <td>67</td>
            </tr>
          </table>
</div>

{% endblock table %}

{% endblock body %}

    
