<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/screen.css">
        {% endblock %}
    </head>


    {% block body %}
    <body>
        {% block navbar %}
            <div class="topnav" id="myTopnav">
                {% block menu %}
                    <a href="#" class="active"><i class="fa fa-fw fa-home"></i>Home</a>
                    <a href="#">News</a>
                    <a href="#">Contact</a>
                    <a href="#">About</a>
                {% endblock menu %}

                {% block logout %}
                    <div  class="login">
                        <a href="#"><i class="fa fa-fw fa-user "></i> Login</a>
                    </div>
                    <div class="book_btn d-none d-xl-block">
                        <a class="#" href="{{path('app_logout')}} ">Deconnexion</a>
                    </div>
                {% endblock logout %}

                {% block connect %}
                    <div class="book_btn d-none d-xl-block">
                        <a class="#" href="{{path('app_login')}}" id="open">Connexion</a> 
                    </div>
                {% endblock connect %}

                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-google-plus"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a> 
            </div>
        {% endblock navbar %}
    </body>
    {% endblock body %}

    
{% block js %}
    <script src="js/menu.js"></script>
{% endblock js %}

</html>